*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl_z3gZGK7eQh2xyggz1aKR-gHgEos6cwVUA&usqp=CAU);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}   

#survey-form {
    /*using glassmorphism in form*/
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 50px;
    font-size: x-large;
}
#description {
    font-size: x-large;
    margin-bottom: 2rem;
}
#title {
    font-size: xx-large;
    font-weight: 1000;
    margin-top: 3rem;
}

#name, #email, #number, #dropdown {
    display: block;
    width: 100%;
    padding: 15px;
} 

#submit {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 11px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: large;
}

#comments {
display: block;
width: 100%;
padding: 40px;
}